/* Your custom styles goes here */
background-color: #e5e5f7;
opacity: 0.2;
background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 42.5px 42.5px, linear-gradient(#000000 3.4000000000000004px, transparent 3.4000000000000004px) 0 -1.7000000000000002px, linear-gradient(90deg, #000000 3.4000000000000004px, #e5e5f7 3.4000000000000004px) -1.7000000000000002px 0;
background-size: 85px 85px, 85px 85px, 42.5px 42.5px, 42.5px 42.5px;
